# Node.js dependencies
node_modules

# Environment variables
.env
.env.local
.env.development
.env.production

# Build output (Next.js & Node)
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor files
.DS_Store
*.swp
*.swo
.vscode
.idea
